@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@400;700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

$font-family: "Poppins";

$blue: #2F30E3;

$width: 768px;

@mixin mobile {
    @media (max-width: #{$width}){
        @content
    }
}