<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Laisse moi donc une chance !{% endblock %}</title>
       
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>

			<div class="i">
				<div class="i-left">
					<div class="i-left-wrapper">
						<h2 class="i-intro">My name is</h2>
						<h2 class="i-name">Maeckeul Chenais</h2>
					</div>
				</div>
			</div>
      
			{% block body %}{% endblock %}

    </body>
</html>
