<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Postulation{% endblock %}</title>
        <link rel="shortcut icon" type="image/png" href="{{ asset('favicon.ico') }}"/>
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    </head>
    <body>
      
			{% block body %}{% endblock %}
            <script src="{{ asset('js/app.js.css') }}"></script>
    </body>
</html>
